.background {
	-fx-background-image: url("./carta_macchie.jpg");
	-fx-border: transparent;
}

.mytext{
 	-fx-font: 17.0px Algerian;
    -fx-fill: white;
    -fx-text-alignment: center;
}

.nomeGiocatore{
 	-fx-font: 17.0px Algerian;
    -fx-fill: gray;
    -fx-text-alignment: center;
}

.label {
    -fx-font-size: 10.0pt;
    -fx-font-family: "Calibri";
    -fx-text-fill: black;
    -fx-opacity: 1.0;   
}

.mybutton {
	-fx-effect: dropshadow(three-pass-box, gray, 2, 0.1, 0, 0); 
	-fx-background-repeat: stretch; 
	-fx-background-position: center center;
	-fx-background-radius: 5;
    -fx-background-insets: 1;
    -fx-font-size: 11.0pt;
    -fx-font-family: "Calibri";
    -fx-text-fill: black;
    -fx-opacity: 1.0;
}


.balcone{
	-fx-background-image: url("./balcone.png");
/*	-fx-border-color: black;
	-fx-background-image-radius: 20 20 20 20;
	-fx-border-radius: 20 20 20 20;
	-fx-background-radius: 8,7,6;
	-fx-background-image-radius: 5;*/
	
}

#transparentbutton{
	-fx-background-color:transparent;
	-fx-border-color: transparent;
	-fx-text-fill: transparent;
}

#transparentbutton:hover{
	-fx-background-color:#808080;
	-fx-opacity: 0.8;
	-fx-text-fill: white;
	-fx-border-color: transparent;
}

#consiglieriRiserva:hover{
	-fx-opacity:0.4;
}

#quit:hover{
	-fx-background-color:red;
    -fx-text-fill: white;
}

	/*Bernard MT Condensed
	 *Rockwell Extra Bold 
	 *-fx-cursor: "hand";
 
	 */
/*.titlepane{
	-fx-color: #B87333;

	-fx-text-fill: white;
	-fx-font-family: "Algerian";
    -fx-font-size: 10.0pt;  
    -fx-alignment: center;  
    -fx-focus-color: black;
	-fx-border-color:  #d1ca85;
	-fx-border-width: 1;
	-fx-border-curve: yes;
	-fx-padding: 0;         
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}
.titlepane> .title:hover {
    -fx-color: #B87333;
}
*/



.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
	-fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab
{
    -fx-background-color: #C3B091;
    -fx-background-radius: 5px; 
 }

.tab-pane .tab:selected
{
    -fx-background-color: #DEB887;
    -fx-border-color: transparent;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: gray;
   /*-fx-font-size: 12px;*/
    -fx-font-weight: bold;
    -fx-font: 13.0px Algerian;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

/*TEXTFIELD */
.text-field {
    -fx-background-color: #F7E7CE;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-font: 13.0 calibri;
    -fx-border-color: #6b4208;
    -fx-border-radius:5px;
}

/*.text-field:focused {
    -fx-background-color: #6b4208 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}*/


/*BUTTON */
.button {
    -fx-border-color: #6b4208;
    -fx-border-width: 1.0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #C3B091;
    -fx-font: 13.0 Papyrus;
    -fx-text-fill: #6b4208;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
}

.button:focused{
	-fx-background-color: #DEB887;
}

/*TITLEPANE */
.titled-pane {
	-fx-color: #A0785A; 
    -fx-text-fill: white;
    -fx-font-size: 10.0pt;
/*    -fx-font-family: "Rockwell Extra Bold";Wide Latin*/
    -fx-font-family: "Showcard Gothic";
}
.titled-pane:focused {
    -fx-color: transparent;
    -fx-text-fill: white;
}
.titled-pane > .title {
    -fx-text-fill:   #A0785A;
    -fx-font-weight: bold;
}
titled-pane > .title  > .text{
    -fx-text-fill: #A0785A;
    -fx-font-weight: bold;
}
.titled-pane:focused > .title {
    -fx-color: #7B3F00; 
    -fx-text-fill: white;
}
.titled-pane > .title:hover {
    -fx-color: #A0785A;
}
.titled-pane .content AnchorPane {
    -fx-padding: 0px ;
}


/*SCROLLBAR */
.scroll-bar{
	-fx-background-color:transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
 {
	-fx-shape: " ";	
	-fx-padding:0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(#C3B091,0%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover{
    -fx-background-color:derive(#7B3F00,0%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

.text-area {
    -fx-font-family: calibri;
    -fx-font-size: 12;
    -fx-text-fill: black;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #F7E7CE;
    -fx-opacity:0.8;
}