.sfondo{
 -fx-background-image: url("view/images/various/sfondo.gif");  
 -fx-background-repeat: repeat;
/*  -fx-background-size: contain;*/
}

.button {
    -fx-border-color: #6b4208;
    -fx-border-width: 1;
    -fx-border-curve: yes;
    -fx-background-radius: 0;
    -fx-background-color: #d1ca85;
    -fx-font: 13 Papyrus;
    -fx-text-fill: #6b4208;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.label {
  -fx-font: 15 Papyrus;
    -fx-text-fill: #6b4208;
   /*  -fx-font-weight: bold; */
}

.splitPan {
   -fx-border-curve: yes;
  /* -fx-border: 2px solid #d1ca85; bordo dell'elemento */
  -fx-image: url("view/images/various/sfondo.gif");               /* colore dello sfondo giusto   */

}