@font-face {
    src: url("./font.ttf");
}

.background {
	-fx-background-image: url("./carta_macchie.jpg");
	-fx-border: transparent;
}

.mytext{
 	-fx-font: 17.0px Algerian;
    -fx-fill: white;
    -fx-text-alignment: center;
}

.nomeGiocatore{
 	-fx-font: 17.0px Algerian;
    -fx-fill: gray;
    -fx-text-alignment: center;
}

.label {
    -fx-font-size: 10.0pt;
    -fx-font-family: "Algerian";
    -fx-text-fill: black;
    -fx-opacity: 1.0;   
}

.mybutton {
	-fx-effect: dropshadow(three-pass-box, gray, 2, 0.1, 0, 0); 
	-fx-background-repeat: stretch; 
	-fx-background-position: center center;
	-fx-background-radius: 5;
    -fx-background-insets: 1;
    -fx-font-size: 11.0pt;
    -fx-font-family: "Algerian";
    -fx-text-fill: black;
    -fx-opacity: 1.0;
}


.balcone{
	-fx-background-image: url("./balcone.jpg");
}

#transparentbutton{
	-fx-background-color:transparent;
	-fx-border-color: transparent;
	-fx-text-fill: transparent;
	-fx-font: 13.0 Papyrus;
}

#transparentbutton:hover{
	-fx-background-color:#808080;
	-fx-opacity: 0.8;
	-fx-text-fill: white;
	-fx-border-color: transparent;
}

#sound{
	-fx-background-color:transparent;
	-fx-border-color: transparent;
    -fx-border-width: 1.0;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

#sound:hover{
	-fx-background-color:red;
}

.mazzo:hover{
  -fx-effect: dropshadow(three-pass-box, black, 20, 0.2, 0, 0); 
 
}

#consiglieriRiserva:hover{
	-fx-opacity:0.75;
}

#quit:hover{
	-fx-background-color:red;
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 1;
    -fx-background-color:#A0785A;
    -fx-effect: null;
}

.tab-pane
{
    -fx-tab-min-width:90px;
    -fx-tab-min-height: 16px; 
}

.tab{
	-fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab
{
    -fx-background-color: #C3B091;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0; 
 }

.tab-pane .tab:selected
{
    -fx-background-color: #DEB887;
    -fx-border-color: transparent;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: gray;
    -fx-font-weight: bold;
    -fx-font: 13.0px Algerian;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}


.text-field {
    -fx-background-color: #F7E7CE;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-font: 13.0 calibri;
    -fx-border-color: #6b4208;
    -fx-border-radius:5px;
}

.button {
    -fx-border-color: #6b4208;
    -fx-border-width: 1.0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #C3B091;
    -fx-font: 13.0 "Algerian"/*Papyrus*/;
    -fx-text-fill: #6b4208;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
}

.button:focused{
	-fx-background-color: #C3B091;
}

.button:hover{
	-fx-background-color: #DEB887;
}

.titled-pane {
	-fx-color: #A0785A; 
    -fx-text-fill: white;
    -fx-font-size: 10.0pt;
    -fx-font-family: "Algerian";
}
.titled-pane:focused {
    -fx-color: transparent;
    -fx-text-fill: white;
}
.titled-pane > .title {
    -fx-text-fill: #A0785A;
    -fx-font-weight: bold;
}
titled-pane > .title  > .text{
    -fx-text-fill: #A0785A;
    -fx-font-weight: bold;
}
/*#7B3F00 secondo colore */
.titled-pane:focused > .title {
    -fx-color: #A0785A; 
    -fx-text-fill: white;
}
.titled-pane > .title:hover {
    -fx-color: #A0785A;
}
.titled-pane .content AnchorPane {
    -fx-padding: 0px ;
}


.scroll-bar{
	-fx-background-color:transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
 {
	-fx-shape: " ";	
	-fx-padding:0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(#C3B091,0%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover{
    -fx-background-color:derive(#7B3F00,0%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

.text-area {
    -fx-font-family: calibri;
    -fx-font-size: 12;
    -fx-text-fill: black;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #F7E7CE;
    -fx-opacity:0.8;
}