.textArea {
 	-fx-background-color: black;
 	-fx-font: 10.0px Tahoma;
    -fx-fill: white;
}

.sfondo {
	-fx-background-image: url("./carta_macchie.jpg");
}

.sfondotrasparente{
	-fx-background-color: transparent;
	
}