.sfondo{
-fx-background-image: url("./antica2.jpg"); 
 -fx-background-repeat: repeat;
/*  -fx-background-size: contain;*/
}

.button {
    -fx-border-color: #6b4208;
    -fx-border-width: 1.0;
    -fx-border-curve: yes;
    -fx-background-radius: 0.0;
    -fx-background-color: #d1ca85;
    -fx-font: 13.0 Papyrus;
    -fx-text-fill: #6b4208;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
}

.label {
  -fx-font: 15.0 Papyrus;
    -fx-text-fill: #6b4208;
   /*  -fx-font-weight: bold; */
}

.splitPan {
   -fx-border-curve: yes;
  /* -fx-border: 2px solid #d1ca85; bordo dell'elemento */
  -fx-image: url("view/images/various/sfondo.gif");               /* colore dello sfondo giusto   */

}