.label {
    -fx-font-size: 16.0pt;
/*  -fx-font-family: "Baskerville Old Face";*/
    -fx-font-family: "Algerian";
    -fx-text-fill: white;
    -fx-opacity: 1.0; 
   -fx-effect: dropshadow(three-pass-box, black, 20, 0.2, 0, 0); 
   
}

.label-bright {
    -fx-font-size: 12.0pt;
    -fx-font-family: "Algerian";
    -fx-text-fill: white;
    -fx-opacity: 1.0;   
}

#login {
  -fx-background-image: url('./login.jpg');
  -fx-background-repeat: stretch; 
  -fx-background-size: 420 300;/*contain */
  -fx-background-position: center center;
}

.error{
  -fx-font: 12px Tahoma;
  -fx-fill: red;
  -fx-opacity: 1.0;   
}