.label {
    -fx-font-size: 16.0pt;
/*  -fx-font-family: "Baskerville Old Face";*/
    -fx-font-family: "Algerian";
    -fx-text-fill: white;
    -fx-opacity: 1.0; 
   -fx-effect: dropshadow(three-pass-box, black, 20, 0.2, 0, 0); 
   
}

.label-bright {
    -fx-font-size: 12.0pt;
    -fx-font-family: "Algerian";
    -fx-text-fill: white;
    -fx-opacity: 1.0;   
}

#login {
  -fx-background-image: url('./login.jpg');
  -fx-background-repeat: stretch; 
  -fx-background-size: 420 300;/*contain */
  -fx-background-position: center center;
}

.error{
  -fx-font: 12px Tahoma;
    -fx-fill: red;
    -fx-opacity: 1.0;   
}

/*
-fx-font: 100px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
#anchorPane { 
    -fx-border-width: 2px;
    -fx-border-color: chartreuse;
}
#stackPane {
    -fx-border-width: 2px;
    -fx-border-color: red;

    /* didn't work 
   -fx-hgap: 100%;
   -fx-vgap: 100%;
}*/