.sfondo{
	-fx-background-image: url("./carta_macchie.jpg"); 
	-fx-background-repeat: stretch; 
	-fx-background-position: center center;
}

.label {
	-fx-font: 15.0 Papyrus;
	-fx-text-fill: #6b4208;

}

.text-area .content{
   -fx-background-color: #F7E7CE;
}


.text-field {
    -fx-background-color: #F7E7CE;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-font: 13.0 calibri;
    -fx-border-color: #6b4208;
    -fx-border-radius:5px;
}

.textttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt-field:focused {
    -fx-background-color: #6b4208 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

#transparentbutton{
	-fx-background-radius: 0px;
	-fx-background-color:transparent;
	-fx-border-color: transparent;
	-fx-text-fill: transparent;
}

#transparentbutton:hover{
	-fx-background-color:#987961;
	-fx-opacity: 0.6;
	-fx-text-fill: white;
	-fx-border-color: transparent;
}

.button {
    -fx-border-color: #6b4208;
    -fx-border-width: 1.0;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #C3B091;
    -fx-font: 13.0 Papyrus;
    -fx-text-fill: #6b4208;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
}

.button:focused{
	-fx-background-color: #DEB887;
}

.titled-pane {
	-fx-color: #A0785A; 
    -fx-text-fill: white;
    -fx-font-size: 10.0pt;
    -fx-font-family: "Showcard Gothic";
}
.titled-pane:focused {
    -fx-color: transparent;
    -fx-text-fill: white;
}
.titled-pane > .title {
    -fx-text-fill:   #A0785A;
    -fx-font-weight: bold;
}
titled-pane > .title  > .text{
    -fx-text-fill: #A0785A;
    -fx-font-weight: bold;
}
.titled-pane:focused > .title {
    -fx-color: #7B3F00; 
    -fx-text-fill: white;
}
.titled-pane > .title:hover {
    -fx-color: #A0785A;
}
.titled-pane .content AnchorPane {
    -fx-padding: 0px ;
}



.scroll-bar{
	-fx-background-color:transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
 {
	-fx-shape: " ";	
	-fx-padding:0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(#C3B091,0%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover{
    -fx-background-color:derive(#7B3F00,0%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}